<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="description" content="spring-boot thymeleaf | home ">
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="tab-content">
    <div class="tab-pane active" id="addTaskTab">
        <div class="container">
            <div class="content-container clearfix">
                <div class="row">
                    <h1 class="content-title">Communities</h1>
                    <!--star operations messages-->
                    <div th:if="${msg eq 'success'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        Task Saved <strong> Successfully</strong>
                    </div>
                    <div th:if="${msg eq 'fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong>Unexpected error occurred !!! Please try later.</strong>
                    </div>
                    <div th:if="${msg eq 'active'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong><h6 th:text="${msgText}"/></strong>
                    </div>
                    <div th:if="${msg eq 'active_fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong>Error !!!</strong> <h6 th:text="${msgText}"/>
                    </div>
                    <div th:if="${msg eq 'trash'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        Task Sent to Trash Box
                    </div>
                    <!--end of messages-->
                    <!--<form th:object="${reqTask}" th:action="@{/task/saveTask}" method="post">-->
                    <!--<div class="col-md-12">-->
                    <!--<div class="form-group">-->
                    <!--<input id="taskName" th:field="*{taskName}" type="text" class="form-control"-->
                    <!--required="required"-->
                    <!--placeholder="Task Name"/>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<input th:field="*{description}" type="text" class="form-control" required="required"-->
                    <!--placeholder="Description"/>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<div class="col-md-4  input-group date" id='startDatePicker'>-->
                    <!--<input th:field="*{taskDate}" class="form-control" name="taskDate"-->
                    <!--required="required"-->
                    <!--placeholder="Task Date" id="taskDate"/>-->
                    <!--<span class="input-group-addon">-->
                    <!--<span class="glyphicon glyphicon-calendar">-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<textarea class="form-control" th:field="*{content}" placeholder="Details"-->
                    <!--required="required"></textarea>-->
                    <!--<div class="float-right btn-send">-->
                    <!--<button class="btn btn-success btn-md"><span class="glyphicon glyphicon-send"></span>-->
                    <!--Create-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<br/>-->
                    <!--</form>-->
                </div>
                <div>

                </div>
                <span class="help-block"></span>
                <!--start Trash Task tab-->
                <div class="row">
                    <div class="panel panel-info">
                        <div></div>
                        <div class="panel-body">
                            <table class="table table-bordered  table-striped table-responsive">
                                <thead>
                                <tr class="btn-info">
                                    <th>ID Product</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Cost</th>
                                    <th>Amount</th>
                                    <th>Add Product</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(products)}" class="btn-default">
                                    <td colspan="5" align="center">No Products Entered Yet!!!</td>
                                </tr>

                                    <tr th:each="product : ${products}">
                                        <form method="post" th:action="@{/bill/add_product}">
                                        <td th:text="${product.id}"></td>
                                        <td th:text="${product.name}"></td>
                                        <td th:text="${product.description}"></td>
                                        <td th:text="${product.quantity}"></td>
                                        <td th:text="${product.cost}"></td>
                                        <input type="hidden" name="idProduct" id="idProduct" th:value="${product.id}">
                                        <td><input type="number" name="quantity" id="quantity" value="1"  min="1"
                                                  th:max="${product.quantity}">
                                        </td>
                                        <td><button type="submit" class="btn btn-primary">+</button></td>
                                        </form>
                                    </tr>


                                </tbody>
                            </table>
                            <form method="post" th:action="@{/bill/showBill}">
                                <!--<input type="submit" class="btn btn-outline-primary" value="Show products in bill"></input>-->
                                <button type="submit" class="btn btn-primary">Show products in bill</button>
                            </form>
                        </div>

                    </div>

                </div>
                <!--end Trash task tab-->
            </div>
        </div>
    </div>

    <!--<a>-->
    <!--<form th:action="@{/new_bill}">-->
    <!--<input class="btn" type="submit" value="New Bill"/>-->
    <!--</form>-->
    <!--</a>-->
    <!--&lt;!&ndash; trash tab &ndash;&gt;-->
    <!--th:class="${#request.getParameter('deletion')=='del'} ? ' tab-pane active' : 'tab-pane' "-->
</div>
<footer>
    <div class="separator" th:replace="fragments/footer :: footer">&copy; 2016 pironix</div>
</footer>

<script type="text/javascript">
    $(function () {
        $('#startDatePicker').datetimepicker({
            defaultDate: 'now',
            viewMode: 'days',
            format: 'DD/MM/YYYY'
        });
    });


</script>
<script>
    $('#modal-toTrash').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('#modal-toTrashHiddenId').val($(this).find('.btn-ok').attr('href'));
    });

    $('#modal-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
    });

</script>
</body>
</html>
